* {
  box-sizing: border-box;
}

.column {
  float: left;
  padding: 10px;
  height: 95vh;
}

.left,
.middle {
  width: 25%;
}

.right {
  width: 50%;
  overflow: hidden;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.chatroom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h2 {
  margin: 0;
}

button {
  height: 100%;
}

.message-container {
  max-height: 75vh;
  overflow-y: scroll;
}
